
/* Your CSS Code here. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}
#box{
	text-align:left;
	background-color:lightblue;
	/* line-height:1.5; */
	width:100%;
	color:black;
}
#margin{
	width:300px;
	padding:50px;
	border:15px solid blue;
	margin:20px;
	background-color:lightblue;
	
	
}
p{
	font-family: Arial, Helvetica, sans-serif;
}